/** @format */

:root {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
  height: auto;
}
.bg-grey {
  background-color: #f4f4f4;
}
#header {
  background-color: #fff;
  padding: 5px 25px;
}
.navbar .container .navbar-brand {
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  color: #000;
  padding-left: 20px;
}
.navbar-nav .nav-item .nav-link {
  text-transform: capitalize;
  padding-right: 1.563rem;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  color: #000;
}
.navbar-nav .nav-item .nav-link:hover {
  cursor: pointer;
  color: #000;
}
.navbar-nav .nav-item .active {
  position: relative;
  color: #000;
}
.navbar-nav .nav-item .active::before {
  position: absolute;
  content: "";
  background-color: #000;
  width: 60%;
  height: 2px;
  top: 100%;
}

/* End header & Navbar */
/* start Home Section */

.home {
  background-image: url(../images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-layer {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
.home-title {
  color: #ffff;
}
.home .bg-layer .container .home-title h2 {
  font-size: 50px;
  font-family: var(--font-primary);
}
.home .bg-layer .container .home-title h1 {
  font-weight: 400;
  text-transform: capitalize;
  font-family: var(--font-primary);
  font-size: 60px;
  margin-bottom: 30px;
}
.home-title h1::after {
  content: "";
  font-weight: 400;
  color: #fff;
  animation: typing 7s infinite;
}
.home .bg-layer .container .home-title li i {
  padding: 10px;
  background-color: #000;
  border-radius: 50%;
  margin-right: 10px;
}
.home .bg-layer .container .home-title li:hover {
  cursor: pointer;
}

@keyframes typing {
  0% {
    content: "Larry Daniels|";
  }
  30% {
    content: "|";
  }
  31% {
    content: "De|";
  }
  35% {
    content: "Dev|";
  }
  40% {
    content: "Deve|";
  }
  45% {
    content: "Devel|";
  }
  50% {
    content: "Develo|";
  }
  55% {
    content: "Develop|";
  }
  60% {
    content: "Developer|";
  }
  61% {
    content: "|";
  }
  65% {
    content: "De|";
  }
  70% {
    content: "Des|";
  }
  75% {
    content: "Desi|";
  }
  80% {
    content: "Desig|";
  }
  85% {
    content: "Design|";
  }
  90% {
    content: "Designe|";
  }
  95% {
    content: "Designer|";
  }
  100% {
    content: "|";
  }
}
/* End Home Section */
.about {
  padding: 100px;
}
.about-img {
  width: 70%;
  position: relative;
}
.about-img::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  left: 25px;
  bottom: -30px;
  background-image: url(../images/dots.png);
  background-repeat: repeat;
}
.about-img img {
  position: relative;
  left: 50px;
  z-index: 1;
}
.about-content .title {
  font-size: 30px;
  font-weight: 800;
  font-family: var(--font-primary);
}
.about-content .subtitle {
  color: #999;
  font-family: var(--font-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.about-content .description {
  font-family: var(--font-secondary);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #748182;
  margin: 30px 0;
}
.progress-item {
  margin-bottom: 40px;
}
.progress {
  padding: 10px 10px;
  position: relative;
  background: #f7f7f7;
  margin-bottom: 30px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
}
.progress .progress-bar {
  background-color: #000;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  border-radius: 5px;
}
.firstbar .progress .progress-bar {
  width: 95%;
  transition: width 1s;
}
.secondbar .progress .progress-bar {
  width: 80%;
  transition: width 1s;
}
.thirdbar .progress .progress-bar {
  width: 90%;
  transition: width 1s;
}

.progress .progress-bar .progress-title {
  position: absolute;
  padding: 10px;
}
.progress .progress-bar .progress-percentage {
  position: absolute;
  right: 10px;
}

.about-content .download {
  background-color: #000;
  padding: 10px 30px;
  border-radius: 5px;
  transition: all 1s;
  margin-right: 10px;
}
.about-content .download .download-btn {
  color: #fff;
}
.about-content .download:hover {
  background-color: #fff;
}
.about-content .download:hover .download-btn {
  color: #000;
}
.about-content .contact {
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #fff;
  transition: all 1s;
}
.about-content .contact:hover {
  background-color: #000;
}
.about-content .contact:hover .contact-btn {
  color: #fff;
}
.about-content .contact .contact-btn {
  color: #000;
}
/* End About */
.service-title {
  position: relative;
  margin-bottom: 50px;
}
.service-title h2 {
  z-index: 99;
}
.line-br {
  width: 14%;
  height: 30px;
  background-image: url(../images/dots.png);
  background-repeat: repeat;
  margin: auto;
  position: absolute;
  top: 25px;
  left: 43%;
  z-index: 0;
}
.service-item {
  background-color: #fff;
  .service-icon {
    padding: 10px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #f4f4f4;
    transition: all 0.5s;
  }
}

.service-item .service-icon i {
  font-size: 30px;
  transition: all 0.5s;
}
.service-item:hover .service-icon {
  background-color: #000;
}
.service-item:hover .service-icon i {
  color: #fff;
}
.service-item h6 {
  font-family: var(--font-primary);
  font-weight: 800;
  font-size: 18px;
}
.service-item p {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 14px;
}
/* End Services Section  */
/* Start Portfolio Section */
.portfolio {
  padding: 100px;
}
.portfolio .service-title .line-br {
  width: 18%;
  left: 41%;
  margin-bottom: 40px;
}

.img-item {
  position: relative;
}
.img-item .img-layer {
  background-color: #fff;
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  opacity: 0;
  transition: all 1s;
}
.img-item .img-layer h6 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 15px;
}
.img-item .img-layer .img-layer-icons {
  position: relative;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.img-item .img-layer .img-layer-icons li {
  background-color: #000;
  border: 1px #000 solid;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-top: 3px;
}
.img-item .img-layer .img-layer-icons li:hover {
  background-color: #fff;
}
.img-item .img-layer .img-layer-icons li:hover .fa-magnifying-glass-plus {
  color: #000;
}
.img-item .img-layer .img-layer-icons li:hover .fa-link {
  color: #000;
}
.img-item .img-layer .img-layer-icons li i {
  color: #fff;
}
.img-item:hover .img-layer {
  opacity: 1;
}
.nav-pills .nav-item {
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  font-family: var(--font-secondary);
}
.nav-pills .nav-item .nav-link {
  border-radius: 0%;
  color: #000;
  transition: border 1s;
}
.nav-pills .nav-item .active {
  background-color: #fff;
  color: #000;
  border-bottom: 1px solid #000;
  border-radius: 0%;
}
.nav-pills .nav-item .nav-link:hover {
  border-bottom: 1px solid #000;
}

/* End portfolio Section */
/* Start testmonials section */
.testmonials {
  padding: 100px;
}
/* .testmonial-content .title {
  margin:  0;
} */
.testmonials .service-title .line-br {
  width: 22%;
  left: 39%;
  margin-bottom: 40px;
}

.testmonial-content .description {
  font-family: var(--font-secondary);
  font-size: 15px;
  font-weight: 400;
  color: rgb(116, 129, 130);
  width: 80%;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
.testmonial-content h6 {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 16px;
  color: #343434;
}
.testmonial-content span {
  font-family: var(--font-secondary);
  font-size: 12px;
  font-weight: 600;
  color: #888;
}

.testmonial-controls {
  margin-top: 30px;
}
.testmonial-controls .active {
  opacity: 1;
  transition: opacity 0.4s ease;
}
.carousel-control-prev {
  top: 120%;
  left: 40%;
}
.carousel-control-next {
  top: 120%;
  right: 40%;
}
.carousel-control-prev .firstdot,
.carousel-control-next .thirddot,
.carousel-control-next .seconddot {
  width: 15px;
  height: 15px;
  background-color: #d6d6d6;
  border-radius: 50%;
}
.carousel-control-next .thirddot {
  position: relative;
  left: -32px;
}
/* end testmonial */
/* start stats */
.stats {
  padding: 100px;
}
.stats-icon {
  width: 50px;
  height: 50px;
}
.stats-icon i,
.stats-content .stats-number,
.stats-content .stats-title {
  color: #343434;
}
.stats-content .stats-number {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 15px;
  font-family: var(--font-primary);
}
.stats-content .stats-title {
  font-size: 1rem;
  font-weight: 600;
  text-wrap: nowrap;
  font-family: var(--font-secondary);
}
/* end stats section */
/* start blog section */
.blog {
  padding: 100px 0;
}
.blog .service-title .line-br {
  width: 18%;
  left: 41%;
}
.blog-item {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.blog-content {
  padding: 1.5rem 10px 1rem;
  background-color: #5a5a5a !important;
  color: #fff;
}
.blog-content .row .col-sm-8 {
  text-align: center;
}
.blog-content h4 {
  font-family: var(--font-primary);
  font-size: 25px;
  font-weight: 500;
}
.blog-content p {
  text-wrap: nowrap;
  font-size: 20px;
  font-family: var(--font-primary);
  font-weight: 700;
}
.blog-item .blog-image {
  overflow: hidden;
  position: relative;
}
.blog-item .blog-image .blog-image-layer {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: all 1s;
}
.blog-item .blog-image .blog-image-layer ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.blog-item:hover .blog-image-layer {
  transform: rotateY(360deg);
  opacity: 1;
}

.blog-item .blog-image .blog-image-layer ul li {
  background-color: #000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #000;
}
.blog-item .blog-image .blog-image-layer ul li a {
  color: #fff;
}
.blog-item .blog-image .blog-image-layer ul li:hover {
  background-color: #fff;
}
.blog-item .blog-image .blog-image-layer ul li:hover .fa-facebook {
  color: #000;
}
.blog-item .blog-image .blog-image-layer ul li:hover .fa-twitter {
  color: #000;
}
.blog-item .blog-image .blog-image-layer ul li:hover .fa-pinterest {
  color: #000;
}
.blog-item .blog-image .blog-image-layer ul li:hover .fa-linkedin {
  color: #000;
}
.blog-item .blog-image .blog-image-layer ul li i {
  font-size: 25px;
}
.blog-item .blog-image .blog-img {
  backface-visibility: hidden;
  transition: all 2s;
}
.blog-image:hover .blog-img {
  transform: scale(1.3);
}
/* end blog section */
.contact {
  padding: 100px;
}
.contact .service-title .line-br {
  width: 20%;
  left: 40%;
}
.contact-item {
  background-color: transparent;
  margin-bottom: 30px;
  .contact-icon {
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #f4f4f4;
    transition: all 0.5s;
  }
}

.contact-item .contact-icon i {
  font-size: 30px;
  transition: all 0.5s;
}
.contact-item:hover .contact-icon {
  background-color: #000;
}
.contact-item:hover .contact-icon i {
  color: #fff;
}
.contact-item h5 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 16px;
  color: #343434;
}
.contact-item p {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 15px;
  color: rgb(116, 129, 130);
}
.form-control{
  background-color:#f4f4f4 !important;
  border-color: #f4f4f4 !important;
}
.contact form {
  input {
    padding: 10px 15px;
  }
  textarea {
    padding: 12px 15px;
    margin-bottom: 0;
  }
  button[type="submit"] {
    background: #000;
    border: 1px solid #000;
    padding: 10px 24px;
    color: #fff;
    transition: all 0.5s;
  }
  button[type="submit"]:hover {
    background-color: #fff;
    color: #000;
  }
}
/* end contact section */

.footer {
  background-color: #000;
}
.footer-content {
  font-size: 13px;
  color: rgb(116, 129, 130);
  font-family: var(--font-secondary);
  font-weight: 400;

}